.root {
  height: 100%;
  position: 'relative';
  margin: 16px;
  .chart_title {
    color: #fff;
    font-size: '1.6rem';
    font-family: 'Lato', sans-serif;
    padding-left: 24px;
    padding-top: 24px;
    overflow: 'hidden';
    text-overflow: 'ellipsis';
  }
}