button {
  border: 1px solid transparent;
  background: none;
  font-family: 'Lato', sans-serif;
  transition: all .4s ease-in-out;
  cursor: pointer;
  border-radius: 6px;
  padding: 4px;
  box-shadow: none;
  &:hover {
    border-radius: 50%;
    box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2), inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
  }
}