.container {
  position: absolute;
  top: 24px;
  right: 16px;
  .menu-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .menu-trigger {
      background: #ffffff;
      border-radius: 90px;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 4px 6px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
      border: none;
      vertical-align: middle;
      transition: box-shadow 0.4s ease;
      margin-left: auto;
      /* Strictly for positioning */
      &:hover {
        box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
      }
      span {
        font-weight: 700;
        vertical-align: middle;
        font-size: 14px;
        margin: 0 10px;
      }
      img {
        border-radius: 90px;
      }
    }
    .menu {
      background: transparent;
      border-radius: 8px;
      position: absolute;
      top: -16px;
      right: 48px;
      width: fit-content;
      padding: 8px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
      opacity: 0;
      visibility: hidden;
      transform: translateX(48px);
      transition: all .4s ease;
      select {
        border: none;
        padding: 4px;
        margin: 0 2px;
        border-radius: 6px;
        font-family: 'Lato', sans-serif;
        cursor: pointer;
        text-transform: capitalize;
      }
      &.active {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
      }
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    li {
      border-bottom: 1px solid #dddddd;
    }
    li a {
      text-decoration: none;
      color: #fff;
      padding: 15px 20px;
      display: block;
    }
  }
}

@media only screen and (max-width: 600px) {
  .menu {
    flex-direction: column;
    select {
      width: 120px;
      margin: 4px 2px !important;
    }
  }
}