.paper_container {
  background: linear-gradient( to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
  backdrop-filter: blur(2rem);
  border-radius: 10px;
  padding: 12px;
  margin: 16px 0;
  box-shadow: 0px 0px 10px 0px #888888;
  position: relative;
  height: 100%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  &:nth-child(even) {
    margin-left: 24px;
  }
  .top_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header {
      font-size: 1.6rem;
      font-family: 'Lato', sans-serif;
      margin-bottom: 16px;
      color: #425b71;
    }
  }
}

@media only screen and (max-width: 1280px) {
  .paper_container {
    width: 100%;
    padding-bottom: 20px;
    margin: 0;
    &:nth-child(even) {
      margin-left: 0px;
    }
  }
}