.delivery_container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  .delivery_column {
    height: 120px;
    flex: 1;
    background: transparent;
    &:nth-child(odd) {
      background: #0000000f;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
    }
    &:nth-child(even) {
      margin: 0 4px;
    }
    .delivery_header {
      font-size: 1.3rem;
      color: #333;
      font-family: 'Lato', sans-serif;
      font-weight: 400;
      background: #0000000f;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      padding: 4px;
    }
    .deliveries {
      padding: 4px;
    }
  }
}