.app {
  width: 100%;
  min-height: 100vh;
  padding: 24px 32px;
  .title {
    font-size: 3.6rem;
    color: #425b71;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
  }

}

@media only screen and (max-width: 600px) {
  .app {
    .title {
      font-size: 3rem;
    }
  }
}